{
 margin: 20px;
 padding: 10px;
}
#wrapper{
 width: 970px;
 height: auto;
 background-color: white;
 margin: 0 auto;
}
#header {
  width:940px;
  display: inline-block;
  margin: 5px 5px 0px 5px;
  padding: 10px;
  background-color: blue;
  border-bottom: 1px solid gray;
  text-align: center;
}
  #header h2 {
    margin: 0px 0px 0px 0px;
    color: white;
  }
  .bluegrad {
      /*height: 200px;*/
      background: blue; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #8080ff, blue); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #8080ff, blue); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #8080ff, blue); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #8080ff, blue); /* Standard syntax (must be last) */
  }
  .graygrad {
    /*height: 200px;*/
    background: gray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #b3b3b3, gray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #b3b3b3, gray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #b3b3b3, gray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #b3b3b3, gray); /* Standard syntax (must be last) */
}
.red {
  color: red;
}
  .errorDiv {
  margin: 0 auto;
  background-color: white;
  color: red;
  /*border: 1px solid black;*/
  /*width: 500px;*/
  padding: 10px;
  text-align: left;
  margin-top: 50px;
}

header h2 {
  margin: 0px 0px 0px 0px;
  color: black;
}
.secondhdr {
  display: inline-block;
  /*background-color: red;*/
  margin: 0px 0px 10px 0px;
  width: 960px;
  height: 45px;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
  color: black;
  font-size: 14px;
  /*border-bottom: 3px solid black;*/
}
.secondhdrleft {
  display: inline-block;
  width: 330px;
  /*background-color: green;*/
  padding-left: 20px;
}
.secondhdrctr {
  display: inline-block;
  width: 310px;
  text-align: right;
  /*background-color: yellow;*/
}
.secondhdrright {
  display: inline-block;
  width: 280px;
  text-align: right;
  margin-right: 5px;
  /*background-color: gray;*/
}

.myhdrmenu {
  background-color: gray;
  margin: 0px 5px 10px 5px;
  width: 940px;
  height: 36px;
  padding: 10px 0px 1px 20px;
  font-weight: bold;
  color: black;
  font-size: 14px;
}
  .myhdrmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  .myhdrmenu li {
  display: inline;
  }
  .myhdrmenu a {
    text-decoration: none;
    color: antiquewhite;
  }
  .myhdrmenu ul li a:hover {
    color: gray;
    font-weight: bold;
  }
  .myhdrmenu li:not(:first-child):before {
      content: " | ";
  }

.container {
    width: 95%;
    /*height: 200px;*/
    /*background: aqua;*/
    margin: auto;
    padding: 10px;
    display:inline-block;
}
.leftbox {
    display:inline-block;
    width: 49%;
    /*height: 200px;*/
    /*background: red;*/
    vertical-align: top;
    /*border: 1px solid black;*/
}
.rightbox {
    display:inline-block;
    width: 49%;
    /*margin-left: 15%;*/
    /*height: 200px;*/
    /*background: yellow;*/
    vertical-align: top;
    /*border: 1px solid black;*/
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    border-spacing: 0 50px 0 50px;
}
  th {
    border-right: 1px solid black;
  }
  td {
    border-right: 1px solid black;
    border-bottom: 0px;
  }
  .center {
    text-align: center;
  }
  tr:nth-child(even) {
    background: #e6e6e6;
  }
  tr:hover {
    background-color: #f5f5f5
  }
